body{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #424242;
    justify-content: space-between;
    min-height: 100%;
}
#buttonRow{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 10px;
    width: 500px;
}
#grid {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: black;
    gap: 1px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.cell{
    display: block;
    border: 1px solid black;
}
img{
    width: 20px;
    height: 20px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
#reset, #colorInput{
    width: 50px;
    height: 30px;
}